.keg-profile-wrapper{
  border-radius: 8px;
  border: 3px solid black;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
  width: 300px;
  margin-top: 20px;
}

.profile-name{
  text-align: center;
  background-color:#ff8080;
}
.profile-description{
  font-family: helvetica;
  text-align: center;
}

.profile-content{
  margin-left: 10%;
  font-family: helvetica;
}
